:root {
    --primary-color: rgb(236, 236, 236);
    --secondary-color: rgb(21, 21, 21);
    --blue-color: #2bc5cd;
    --orange-color: #ff693d;
    --border: 2px solid var(--blue-color);
    --spacing: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Resto del CSS */



.grid-container{
<<<<<<< HEAD
  /* padding:var(--spacing); */
  min-width: 100vw;
  min-height:100vh;
=======
>>>>>>> parent of 059d645 (a)
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  min-width:100%;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
    margin: 0;
    gap: var(--spacing);

<<<<<<< HEAD
  grid-template-areas: 
    "header school student"
    "header main time"
    "alumni footer footer";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing);
=======
grid-template-areas: 
"header school student"
"header main time"
"alumni footer footer";
>>>>>>> parent of 059d645 (a)
}
  
header{
  grid-area: header;
  background-color:var(--blue-color);
  height:100%;
}
main{
  grid-area: main;
  height:100%;
  border: var(--border);
  width: 100%;
}
  .school {
    width:100%;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
    grid-area: school;
  height:100%;

  
  }
  
  .student {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
    grid-area: student;

  }
  
  .time {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
    grid-area: time;
  }
  
  .alumni {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
    grid-area:alumni;
  }

  footer{
    grid-area: footer;
    background-color:orange;
    height:100%;
  }
  
  .alumni,
  .school,
  .student,
  .time {
    width:100%;
    height:100%;
    background-size: cover;

  }

<<<<<<< HEAD
  @media all and (max-width:800px){
  
     .grid-container{
      grid-template-columns: 1fr;
      grid-template-areas: 
        "header"
        "school"
        "student"
        "main"
        "time"
        "footer";
       grid-template-rows:2fr repeat(5, 1fr); 
    } 
=======
  @media screen and (max-width:700px){
    .grid-container{
      width:100%;
      height:100%;
      grid-template-areas:
      "header"
      "school"
      "student"
      "main"
      "time"
      "footer";
      grid-template-columns:200px;
      grid-template-rows: 600px
      2fr
      2fr
      2fr
      2fr
      1fr;
    }
>>>>>>> parent of 059d645 (a)
  }